<div class="pict-idol">


</div>

<div class="container">


    <div class="box-member row">
        <div class="col-lg-3">
            <h3>Name</h3>
            <div class="member">
                <img src="assets/img/kohisekai.jpg" alt="">
            </div>
            <div class="learn">
                <button class="btn btn-danger">Learn More</button>
            </div>
        </div>
        <div class="col-lg-3">
            <h3>Name</h3>
            <div class="member">
                <img src="assets/img/jkt48.jpg" alt="">
            </div>
            <div class="learn">
                <button class="btn btn-danger">Learn More</button>
            </div>
        </div>
        <div class="col-lg-3">
            <h3>Name</h3>
            <div class="member">
                <img src="assets/img/minervaland.jpg" alt="">
            </div>
            <div class="learn">
                <button class="btn btn-danger">Learn More</button>
            </div>
        </div>
        <div class="col-lg-3">
            <h3>Name</h3>
            <div class="member">
                <img src="assets/img/irisidol.jpg" alt="">
            </div>
            <div class="learn">
                <button class="btn btn-danger">Learn More</button>
            </div>
        </div>
    </div>

</div>